@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  /* text-align: justify; */
  line-height: 1.6;
  font-size: 1.1em;
  color: #272727;
}

h2 {
  margin-bottom: -2rem;
  font-weight: 700;
}
